.vscode/sftp.json
conexcion.php
img
js/jquery.dataTables.min.js
js/datatables.min.js
js/jquery-3.41.min.js
js/bootstrap.min.js
js/dataTables.buttons.min.js
js/buttons.bootstrap4.min.js
js/dataTables.buttons.min.js


